table.content-table
    caption Patient List
    thead
        tr 
            th Name
            th DOB
            th Gender
            th Phone
            th Option
            th
    tbody
        
        each patient in patients
            tr
                td
                    input(class='input' type='text' name='name', value = patient.NAME, required='', readonly=true)
                td
                    input(class='input' type='text' name='dob', value = patient.DOB, required='', readonly=true)
                td
                    input(class='input' type='text' name='gender', value = patient.GENDER, required='', readonly=true)
                td
                    input(class='input' type='text' name='phone', value = patient.PHONE, required='', readonly=true)
                td
                    button(class='input' type="button" onclick='deletePatient('+patient.ID+')') Delete
                td
                    button(type="button" class="update-button" onclick='getIndex(' + patient.ID + ')') Update
                    form(action="/admin/patient-list/update/" + patient.ID, method="POST" onsubmit="return submitUpdateForm(this)" enctype="multipart/form-data")  
                        tr(class="update-form" id=patient.ID)
                            td
                                    input(type='text' name='name')
                            td    
                                    input( class="datepicker" type='text' name='dob' autocomplete="off")
                            td    
                                    //- input(type='text' name='gender')
                                    select( name="gender")
                                        option(value="male") male
                                        option(value="female") female
                            td    
                                    input(type='text' name='phone')
                            td    
                                    input(type="submit" value="Done")
        tr
            td
                form(action="/admin/patient-list/search" method="POST" onsubmit='return submitSearchForm(this)' enctype="multipart/form-data")  
                    tr
                        td
                            input(type='text' name='name')
                        td
                            input(type='text' name='dob')
                        td
                            input(type='text' name='gender')
                        td
                            input(type='text' name='phone')
                        td
                            input(type="submit" value="Search")    
        tr
            td
                button(class="insert-button" onclick="toggleInsertForm()") Add patient
                form( class="insert-form" action="/admin/patient-list/insert" method="POST" onsubmit="return submitAddForm(this)" enctype="multipart/form-data")
                    tr(class="row-insert-form")
                        td
                            input(type='text' name='name')
                        td
                            input(class="datepicker" type='text' name='dob' autocomplete="off")
                        td
                            input(type='text' name='gender')
                        td
                            input(type='text' name='phone')
                        td
                            input(type="submit" value="Add")
