table
    caption Patient List
    thead
        tr 
            th Name
            th DOB
            th Gender
            th Phone
    tbody
        tr
            each patient in patients
                tr
                    td
                        input(type='text' name='name', value = patient.NAME, required='', readonly=true)
                    td
                        input(type='text' name='dob', value = patient.DOB, required='', readonly=true)
                    td
                        input(type='text' name='gender', value = patient.GENDER, required='', readonly=true)
                    td
                        input(type='text' name='phone', value = patient.PHONE, required='', readonly=true)
                    td
                        button(type="button" onclick='deletePatient('+patient.ID+')') Delete
                    td
                        button(type="button" class="update-button" onclick='getIndex(' + patient.ID + ')') Update
                        form(class="update-form" id=patient.ID action="/admin/patient-list/update/" + patient.ID, method="POST" onsubmit="return submitUpdateForm(this)" enctype="multipart/form-data")
                            input(type='text' name='name')
                            input(class="datepicker" type='text' name='dob' autocomplete="off")
                            input(type='text' name='gender')
                            input(type='text' name='phone')
                            input(type="submit" value="Done")
        tr
            td
                form(action="/admin/patient-list/search" method="POST" onsubmit='return submitSearchForm(this)' enctype="multipart/form-data")  
                    input(type='text' name='name')
                    input(type='text' name='dob')
                    input(type='text' name='gender')
                    input(type='text' name='phone')
                    input(type="submit" value="Search")    
        tr
            td
                button(class="insert-button" onclick="toggleInsertForm()") Add patient
                form(class="row-insert-form" class="insert-form" action="/admin/patient-list/insert" method="POST" onsubmit="return submitAddForm(this)" enctype="multipart/form-data")
                    input(type='text' name='name')
                    input(class="datepicker" type='text' name='dob' autocomplete="off")
                    input(type='text' name='gender')
                    input(type='text' name='phone')
                    input(type="submit" value="Add")

