section.content#main
    if errorMessage
        h4= errorMessage
    if diseases
        h4 Successful search for diseases
    if diseases
        each disease in diseases
            h3= disease.id
            h3= disease.name
            h3= disease.descr
            h3 Recommended precautions
            p= disease.precautions 
    div.search_bar
        form(action='/patient/search-symptom' method='POST' onsubmit="return search()")
            input#symptoms.form-control(type='text' placeholder='(e.g.`depression, fatigue, cough, etc.`)' name='symptoms')
            input(id="submit-button" type="Submit" value="Search")

script(type="text/javascript" src="/javascript/patientHome.js")